html,body { 
    overflow:hidden; 
  }
.detalles{
    margin-bottom:10px;
    height: 100%;
    width: 100%;
    
}
.tamano{
    height: 40px;
    
}
.figura{
    margin-right:8px;
}
#barra{
    
    position: sticky;
    top: 0; 
    z-index: 1007;
}
.barra {
    background-color: rgb(10, 25, 60);
    /* width: 100% !important;
    height: 100% !important;
     */
}
a:not([href]):not([tabindex]) {
    color: rgb(249, 85, 52) !important;
}
.tamano{
    height: calc(1em + 0.75rem + 2px) !important;
}
.tamano1{
    height: calc(1em + 1rem + 1px) !important;
}
.btn-outline-success {
    color: #FA5526 !important;
    border-color: #FA5526 !important;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff !important;
    background-color:#F95534 !important;
    border-color: #F95534 !important;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: #F95534 !important;
}
.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem #072b52 !important;
}
footer{
   border-top: 1px solid rgba(50, 50, 50, 0.3);
   width: 100%;
   clear: both; /*para que el footer siempre este abajo del contenido*/
   margin-top: 0px;
   padding-top: 0px;
   overflow: visible;
   /* top:93%;  */
   bottom: 0%;
   position: fixed;
 }
  
 #footer .copyright {
     text-align: center;
     padding-top: 15px;
    }
 #footer .credits {
     text-align: center;
     font-size: 9px;
     color: #555;
 }
 .abajo{
     padding-bottom: 15px;
 }
 footer{
     background-color: #F2F5F8;
 }    
#barra_izquierda{
     float: left;
     width: 100%;
     min-height: 100%;
     background-color: #E6EBF1;
     color: #fff;
     box-shadow: 2px 2px 10px #666;
          /* opacity: 1.5; */
      

 }
 #barra_izquierda{
    background: url("../img/barra1.jpg")no-repeat;
 }
 

 #imagen{
    height: 80px;
    display:block;
    margin:auto;
    margin-bottom:10px;
    margin-top: 5%;
}
.icono{
    height: 25px;
    margin:auto;
    /* margin-bottom:10px; */
}
#archivo{
    height: 75px;
    margin:auto;
    /* margin-bottom:10px; */
}

.posicion{
    margin-top: 15%;
}

.letra{
    color: #000;
    
}
#linea{
    border-top: 1px solid currentColor !important;
}
a.nounderline:link 
{ 
text-decoration:none; 
}  

.contorno{
    border: 1px solid;
    display: flex;
    border-radius: 5px;
}

#principal{
    overflow:scroll;
    height: -webkit-fill-available; 
    padding-bottom: 8%;
    /* min-width: 100%; */
    
}
#archivo{
    display: flex;
}
#texto{
    text-align: center;
}
.cuadro{
    top: 10px;border-radius: 5%;margin-right: 15px;
                        margin-bottom: 10px;
}
.arriba{
    margin-top: 3%;
}
@media only screen and (max-width: 	768px) {
    #barra_izquierda{
       display: none;
    }
    #oculto{
        display: block !important;
        margin-top: 3%;
        margin-left: 20%;    
    }

    body{
        overflow:scroll;  
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .letra{
          color: #000;
      }
            
      .dropdown:hover .dropdown-content {display: block;}
      
}
@media only screen and (max-width: 	650px) {
    #barra_izquierda{
       display: none;
    }
    #oculto{
        display: block !important;
        margin-top: 3%;
        margin-left: 20%;    
    }

    body{
        overflow:scroll;  
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
            
      .dropdown:hover .dropdown-content {display: block;}
      
}

#img_cuadro{
    margin-top: 28%;
    margin-left: 10px;

}
