.contorno1{
  border: #000 solid 2px;
  width: 300px;
  height: 300px;
}
.contorno2{
    border: #000 solid 2px;
    width: 200px; 
    height: 200px;
  }

  #barra{
    background-color: rgb(10, 25, 60);
    position: sticky;
    height: 50px;
    color: rgb(249, 85, 52) !important;
  }

  .cod-text{
    margin-bottom: 15px;
    margin-top: 15px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    border: #353544db solid 2px;
    width: 100%;
    height: 300px;
   
  }
  /* body{
    background-color: #353544db !important;
  } */
  .iconos{
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    left: 15px;
    color: rgb(249, 85, 52) !important;
  }
  iframe{
    background-color: #002240; width: 100%;
    border: #353544db solid 2px;
    min-height: 260px;
    color: #FFF;
  }
  .distancia{
    margin-left: 20px;
  }
  /* .fondo{ */
    /* background-color: #282A36; width: 100%; */
    /* border-color: #282A36; */
  /* } */
  

